.row0 {
    height:5px;
    /* width: auto; */
    background-color: rgb(208, 255, 0);
    display: flex;
    gap: 1px;
    margin-bottom: 2px;
}

.pixel {
    width: 5px;
    height: 5px;
    background-color: black;
}